@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.sunglasses {
  position: absolute;
  top: -200px;
  left: 49%;
  width: 35%;
  transform: translateX(-50%);
  pointer-events: none;
}

.sunglasses.rise {
  animation: riseGlasses 0.6s ease-in forwards;
}

.sunglasses.drop {
  animation: dropGlasses 0.8s ease-out forwards;
}

/* KEYFRAMES */
@keyframes dropGlasses {
  0% {
    top: -200px;
  }

  70% {
    top: 45%;
  }

  85% {
    top: 40%;
  }

  100% {
    top: 33%;
  }
}

@keyframes riseGlasses {
  0% {
    top: 40%;
  }

  100% {
    top: -250px;
  }
}
