@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.card-title {
  transition: color 0.3s ease;
}

.card {
  max-width: 70%;
  min-width: 350px !important;
  box-shadow: 15px 20px 20px #c0c0c0 !important;
  cursor: pointer;
}

.modal-card {
  max-width: 100% !important;
  max-height: 80% !important;
  box-shadow: none !important;
}
.card-modal-dialog {
  max-width: 900px; /* aumenta o modal */
}

.card-modal-content {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.card-black-mode {
  max-width: 70%;
  min-width: 350px !important;
  box-shadow: 0px 1px 1px #c0c0c0 !important;
}

.card-link {
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
}

.github-icon {
  margin-left: 0.5vw;
  color: #87cefa;
  width: 1.2rem;
}
.site-icon {
  color: #39ff14;
  opacity: 0.7;
  width: 1.2rem;
}

.github-icon:hover {
  color: #0056b3;
}

.site-icon:hover {
  color: #32cd32;
}

.ul-techs li {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 6px 10px !important;
  box-shadow: 5px 5px 10px #c0c0c0 !important;
  transition: all 0.2s ease-in-out !important;
}

.ul-techs li:hover {
  background-color: #fafafa;
  -webkit-transform: scale(1);
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90vw !important;
    box-shadow: 5px 5px 10px 0px #c0c0c0;
  }

  .card-blackMode {
    min-width: 90vw !important;
    box-shadow: 0px 1px 1px #c0c0c0 !important;
  }

  .card-link {
    font-size: 1.5rem;
  }

  .github-icon {
    margin-left: 1.5vw;
    color: #87cefa;
    width: 1rem;
  }
}
