.chat-button-container {
  position: fixed;
  bottom: 100px;

  cursor: pointer;
  transition: transform 0.2s;
  display: inline-block;
  z-index: 1000;
}

.chat-button {
  padding-left: 60px !important;
  padding-right: 20px !important;
  margin-left: 30px;
  position: relative;
  border-radius: 200px !important;
  font-weight: 500;
  height: 55px;
  white-space: nowrap;
  font-size: 14px !important;
}

.chat-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 350px) and (max-width: 663px) {
  .chat-button-container {
    bottom: 80px;
  }

  .chat-button {
    height: 40px;
    padding-left: 35px !important;
  }

  .chat-icon {
    height: 40px;
    width: 40px;
  }
}
