@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.footer-text {
  font-family: "Montserrat", sans-serif;
}

.my-footer:hover {
  background-color: #424649 !important ;
}

.my-footer ,.footer-black{
  position: fixed;
  bottom: 0;
}

footer{
  position: fixed;
  bottom: 0;
}
