@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
}

.hero-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.container-images {
  position: relative;
  display: inline-block;
}

.profile-pic {
  width: 300px;
  height: 300px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}

.my-pic:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.95);
}

.profile-sunglasses {
  position: absolute;
  bottom: 50%;
  width: 30%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.profile-sunglasses.animation {
  opacity: 1;
  animation: appear 2s ease-in-out forwards;
}

.profile-sunglasses.visible {
  opacity: 1;
}

.profile-sunglasses.hidden {
  opacity: 0;
}

.btn-custom-light {
  color: white !important;
  background-color: #0d6efd !important;
}

.btn-custom-dark {
  color: white !important;
  background-color: #0d6efd !important;
  border: none !important;
}

.btn-custom-light,
.btn-custom-dark {
  min-width: 0px !important;
  padding: 12px 25px !important;
  font-size: 1.2rem !important;
  min-height: 5vh !important;
  border-radius: 20px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: transform 0.4s ease-in-out;
}

.btn-custom-light:hover,
.btn-custom-dark:hover {
  transform: scale(1.05);
}

.social-icons {
  animation: rotation 0.5s linear;
}

.social-icons:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@media (max-width: 842px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1.8rem;
    margin-right: 15vw;
  }

  .profile-pic {
    width: 280px;
    height: 280px;
  }

  .social-icons {
    width: 40px !important;
    height: 40px !important;
  }
}

@media only screen and (max-width: 350px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.9rem;
    margin-right: 15vw;
  }
  .profile-pic {
    width: 220px;
    height: 220px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 663px) {
  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .hero-title {
    font-size: 1.5rem;
    margin-bottom: 70px;
  }

  .hero-subtitle {
    font-size: 1.4rem;
    margin-right: 10vw;
  }

  .btn-custom-light,
  .btn-custom-dark {
    font-size: 1rem !important;
  }

  .container-social-icons {
    margin-bottom: 40px;
  }
}
@media (min-width: 1500px) {
  .profile-pic {
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 1700px) {
  .profile-pic {
    width: 350px;
    height: 350px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes appear {
  from {
    top: 0;
    left: 50%;
  }

  to {
    left: 49%;
    top: 40%;
  }
}
