@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@media (max-width: 835px) {
  .navbar-link {
    font-size: 0.9em !important;
    font-family: "Montserrat", sans-serif;
  }
  .navbar-link-active {
    font-size: 0.9em !important;
    text-decoration: underline !important;
    text-underline-offset: 3px;
    text-decoration-color: #0d6efd;
  }

  .sidebar-toggle {
    display: block !important;
  }

  .navbar-nav {
    display: none !important;
  }

  .navlinks-div {
    display: flex !important;
  }

  .toggle {
    top: 0.5vh;
  }

  .icon-custom {
    height: 1.8vh;
  }
}
