.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  flex-direction: column;
  justify-items: center;
  row-gap: 5rem;
}

@media only screen and (max-width: 835px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
    flex-direction: column;
    row-gap: 3rem;
  }
}
